.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #835afd;
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    img {
      margin-right: 8px;
    }

    &:not(.outlined) {
      transition: background 0.2s;
    }

    &:not(:disabled):not(.outlined):hover {
      background: #6F4BD8;
    }

    &.outlined {
      background: #fff;
      border: 1px solid #835afd;
      color: #835afd;
      transition: border-color, color 0.2s;
    }

    &.outlined:not(:disabled):hover {
      border-color: #6F4BD8;
      color: #6F4BD8;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
}
